.group {
  text-align: center;
}

.group__title {
  padding-bottom: 0 !important;
}

.group__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 100px;
  overflow: scroll;
}

.group__user {
  display: flex;
  margin-top: 7px;
}

.group__user > h3 {
  margin: auto;
  padding-left: 5px;
}

.group__list::-webkit-scrollbar {
  display: none;
}

.group__list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.group__form > button {
  margin-top: 20px;
  width: 300px;
  background-color: #3ea4fb;
  color: #eff2f5;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}

.group__form > button:hover {
  background-color: gainsboro;
  color: #3ea4fb;
}
